@import "../../styles/variabless";

.hero {
  height: calc(100vh - 100px);
}
.container {
  max-width: 95%;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}
.content {
  padding: 0 5%;
  color: $white-color;
  height: 100%;
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(2, 1fr);
  background: url("../../assets/images/background.png") no-repeat center/cover;
}
.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 45px;
    line-height: 50px;
    color: $white-color;
  }
  & > p {
    margin-top: 3vh;
  }
  .search {
    background-color: #fff;
    border-radius: 10px;
    padding: 0 3%;
    height: 10vh;
    margin-top: 7vh;
  }
  .btn {
    width: 25%;
    height: 80%;
    position: relative;
  }
  .desc {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
    }
  }
}
.right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  &__bg {
    height: 90%;
    width: 90%;
    background: #e6e6e6;
    border-radius: 8px;
  }
}
