.ant-input-compact-first-item .ant-input{
  border: none;
}
.ant-input-compact-first-item .ant-input-group-addon{
  border: none;
  background: none;
}
.ant-space-compact{
  display: flex;
  align-items: center;
}