@import "../../styles/variabless";

.hero {
  height: calc(100vh - 100px);
}
.container {
  max-width: 95%;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}
.content {
  padding: 0 5%;
  color: $white-color;
  height: 100%;
  border-radius: 10px;
  display: flex;
  background: url("../../assets/images/background.png") no-repeat center/cover;
}
.left {
  width: 50%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 64px;
    line-height: 88px;
    color: $white-color;
  }
  .about {
    margin-top: 24px;
    @extend .description;
  }
  .search {
    background-color: #fff;
    border-radius: 10px;
    padding: 0 3%;
    height: 70px;
    margin-top: 60px;
  }
  .btn {
    width: 25%;
    height: 80%;
    position: relative;
  }
  .desc {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    & > div {
      display: flex;
      width: calc(33% - 7px);
      align-items: center;
      column-gap: 5px;
      p {
        @extend .description;
      }
    }
  }
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  &__bg {
    height: 90%;
    width: 90%;
    background: url("https://mentorcolor.org/images/woman-glasses.png") center/contain no-repeat;
    border-radius: 8px;
  }
  .icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 0 30px #021934;
    &:first-child {
      background: #4586d6;
      left: 25%;
      top: 20%;
    }
    &:nth-child(2) {
      background: #f72585;
      transform: rotate(29deg) ;
      right: 20px;
      top: 270px;
    }
    &:nth-child(3) {
      background: #021934;
      transform: rotate(-19.5deg) ;
      left: 20%;
      top: 70%;
    }
  }
  .box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: $white-color;
    color: $accent-color;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 30px #021934;
    h4 {
      @extend .title-desc;
    }
    p {
      @extend .desc;
      margin-bottom: 8px;
    }
    .star {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
    }
  }
}

@media (max-width: 1350px) {
  .content {
    padding: 0 3%;
  }
  .left {
    h1 {
      font-size: 60px;
      line-height: 80px;
    }
  }
}
@media (max-width: 1250px) {
  .left {
    h1 {
      font-size: 56px;
      line-height: 70px;
    }
    .search {
      height: 60px;
      margin-top: 45px;
    }
  }
  .right {
    .box {
      bottom: 30px;
      right: 30px;
    }
  }
}
@media (max-width: 1150px) {
  .left {
    width: 55%;
    h1 {
      font-size: 54px;
      line-height: 70px;
    }
  }
  .right {
    width: 45%;
  }
}
@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 90%;
    height: 65%;
    margin: 0 auto;
    .desc {
      margin-top: 5vh;
    }
    h1 {
      font-size: 50px;
      line-height: 65px;
    }
  }
  .right {
    height: 35%;
    width: 100%;
    justify-content: center;
    .icon {
      width: 50px;
      height: 50px;
      box-shadow: 0 0 30px #4586d6;
      &:first-child {
        left: 10%;
        top: 15%;
      }
      &:nth-child(2) {
        right: 68%;
        top: 25%;
      }
      &:nth-child(3) {
        left: 15%;
        top: 55%;
      }
    }
    .box {
      box-shadow: 0 0 30px #4586d6;
      bottom: 20px;
    }
  }
}
@media (max-width: 800px) {
  .left {
    height: 70%;
    h1 {
      font-size: 42px;
      line-height: 50px;
    }
    .search {
      height: 55px;
      margin-top: 35px;
    }
  }
  .right {
    height: 30%;
  }
}
@media (max-width: 650px) {
  .left {
    h1 {
      font-size: 30px;
      line-height: 40px;
    }
    .about {
      margin-top: 10px;
    }
    .search {
      height: 50px;
      margin-top: 20px;
    }
  }
  .right {
    .icon{
      width: 40px;
      height: 40px;
    }
    .box {
      padding: 5px;
    }
  }
}

@media (max-width: 550px) {
  .left {
    h1 {
      font-size: 30px;
      line-height: 40px;
    }
    .about {
      margin-top: 10px;
    }
  }
  .right {
    .box {
      display: none;
    }
    .icon {
      &:first-child {
        left: 5%;
        top: 10%;
      }
      &:nth-child(2) {
        right: 10%;
        top: 25%;
      }
      &:nth-child(3) {
        left: 15%;
        top: 50%;
      }
    }
  }
}
@media (max-width: 460px) {
  .left {
    height: 65%;
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    .about {
      display: none;
    }
    .desc {
      margin-top: 60px;
    }
  }
  .right {
    height: 35%;
    .box {
      display: none;
    }
    .icon {
      &:first-child {
        left: 5%;
        top: 10%;
      }
      &:nth-child(2) {
        right: 10%;
        top: 25%;
      }
      &:nth-child(3) {
        left: 15%;
        top: 50%;
      }
    }
  }
}

@media (max-width: 400px) {
  .right__bg {
    height: 35%;
    background: none;
    .icon {
      width: 50px;
      height: 50px;
      &:first-child {
        left: 15%;
      }
      &:nth-child(3) {
        left: 40%;
      }
    }
  }
}
