@import "../../styles/variabless";

.trust {
  padding: 70px 10px;
}
.content {
  &_title {
    text-align: center;
  }
  &_images {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 40px;
  }
  .image {
    padding: 2% 4%;
    width: calc(25% - 15px);
    Image {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .trust {
    padding: 50px 10px;
  }
  .content{
    &_images {
      column-gap: 12px;
      row-gap: 20px;
    }
    .image {
      width: calc(33% - 8px);
    }
  }
}
@media (max-width: 550px) {
  .content{
    .image {
      width: calc(50% - 8px);
    }
  }
}
