@import '../../../styles/variabless';

.header{
  height: 100px;
}
.container{
  @include container;
  height: 100%;
}
.content{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}