@import "../../styles/variabless";

.courses {
  padding: 10vh 0;
}
.container {
  @include container;
}
.content {
  padding: 0 10px;
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
  }
  h1 {
    text-align: center;
    margin-bottom: 5vh;
  }
  .button {
    width: 10%;
    padding: 8px;
    border-radius: 10px;
  }
  .more {
    display: flex;
    margin: 0 auto;
    width: 20%;
    align-items: center;
    margin-top: 50px;
  }
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
}
.card {
  width: calc(25% - 12px);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  & .image {
    height: 200px;
    background: #cccccc;
    border-radius: 4px;
  }
  & .btn {
    width: 60%;
    position: relative;
    top: -15px;
    border-radius: 10px;
    padding: 4%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: $white-color;
    background: #4586d6;
  }
  &:hover {
    transform: scale(1.02);
    background-color: $white-color;
    box-shadow: 10px 10px 10px #00000040;
  }
}
