@import "../../styles/variabless";

.late {
  padding: 50px 10px 160px;
}
.container {
  @include container;
}
.cards {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
}
.card {
  width: calc(33% - 12px);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  & .image {
    height: 200px;
    border-radius: 10px;
    .img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .text {
    padding: 5px;
  }
  .date {
    display: flex;
    column-gap: 8px;
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0;
    color: #808080;
  }
  h4 {
    @extend .title-desc;
    color: $accent-color;
  }
  .desc {
    @extend .desc;
    margin: 16px 0 20px;
    color: #808080;
  }
  .read {
    color: $primary-pink;
    font-weight: 600;
  }
  &:hover {
    transform: scale(1.02);
    background-color: $white-color;
    box-shadow: 10px 10px 10px #00000040;
  }
}

@media (max-width: 1000px) {
  .late {
    padding: 50px 10px 70px;
  }
  .card {
    width: calc(50% - 8px);
  }
}
@media (max-width: 550px) {
  .late {
    padding: 20px 10px 30px;
  }
  .card {
    width: 100%;
  }
}